.story {
  color: #828282;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  a:link {
    text-decoration: none;
    color: #828282;
  }
  &__index {
    margin-right: 1rem;
  }
  &__title {
    color: #333 !important;
  }
  &__text {
    padding: 0 1rem;
    color: #828282;
  }
}
